.card__image {
    height: 413px;
    width: 413px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    color: #212121;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis; 
    max-width: 350px;  
    margin: 0;    
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0 0;
}

.card__like-btn {
    background-image: url(../images/like-icon-btn.png);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4; 
    cursor: pointer; 
    transition: opacity 0.3s ease; 
  }
  
  .card__like-btn:hover {
    opacity: 0.8;
  }

@media screen and (max-width: 627px) {
    .card__image {
        height: 288px;
        width: 288px;
    }
    .card__title {
        max-width: 250px; 
        font-size: 16px;
        line-height: 100%;
      }
}