.card__image {
    height: 413px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.card__title {
    white-space: nowrap; /* Prevents the text from wrapping to a new line */
    overflow: hidden;    /* Hides any text that overflows */
    text-overflow: ellipsis; /* Adds ellipsis (…) when the text overflows */
    max-width: 100%;      /* Adjust the max-width to fit your layout requirements */
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__like-btn {
    background-image: url(../images/heart.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
}

@media screen and (max-width: 627px) {
    .card_image {
        height: 288px;
    }
}