/*TODO - add correct font styles for everything  */

.modal {
    padding: 0 10px;
    visibility: hidden;
    background-color: #00000080;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s ease-in-out; /* Transition for opacity and visibility */
}

.modal_is-opened  {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 0s, opacity 0.3s ease-in-out; /* Smooth transition when modal is opened */
}


    .modal__container {
        position: relative;
        width: 100%;
        max-width: 730px;
        height: auto;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 32px 50px;
        box-sizing: border-box;
    }

    .modal__input {
        width: 100%;
        margin-bottom: 24px;
    }

    .modal__submit-btn {
         width: 156px;
        height: 52px; /* Figma "Hug" height */
        border-radius: 8px;
        padding: 18px 32px;
        gap: 8px; /* If using Flexbox with children inside */
        background-color: #212121;
        color: white; /* Assuming white text on dark button */
        border: none; /* If the design does not show borders */
        font-size: 16px; /* Optional: adjust based on Figma typography */
        cursor: pointer; /* Standard for buttons */
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }




.modal__close-btn {
    opacity: 0.4;
    position: absolute;
    top: 32px;
    right: 50px;
    width: 40px;
    height: 40px;
    border: none; /* Optional: remove border for design consistency */
    outline: none; /* Optional: remove default outline, if desired */
    cursor: pointer;
    background: url('../images/hover-close-icon.svg')
}

.modal__close-btn:hover {
    opacity: 1; /* default state */
    
}

.modal__title {
    margin: 0 0 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0;
}

.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__label {
    margin: 0 0 32px;
    color: #212121b2;
}


.modal__input {
    display: block;
    width: 100%;
    padding: 16px 12px;
    border: 1px solid rgba(33, 33, 33, 0.4); /* Exact Figma color with 40% opacity */
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Poppins', Arial, sans-serif;
    background-color: #fff;
    box-sizing: border-box;
    margin: 8px 0 0;
    line-height: 1;
}

.modal__input::placeholder {
    color: #2121214d;
}



/* ✅ Hover state */
.modal__submit-btn:hover {
    background: rgba(0, 0, 0, 0.8)
    
}



@media screen and (max-width: 480px) {
    .modal__container {
        padding: 22px 12px 12px;
    }

    .modal__input {
        width: 100%;
        margin-bottom: 16px;
    }

    .modal__submit-btn {
        width: 100%;
        margin-top: 16px;
    }
}

  
 