.footer {
  margin-top: auto; 
  padding: 60px 0; 
  text-align: center;
}

.footer__text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #212121; 
    text-align: center;
    padding: 0;       /* Remove any inner padding */
    margin: 0;
    opacity: 0.70;
  }