.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
}

.profile__avatar-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  /* TODO TripleTen - finish avatar button styles */
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  opacity: 0.7;
}

.profile__edit-btn {
  margin-top: auto;
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  background: transparent;
  border: none;
  opacity: 0.7;
  transition: all 0.3s ease;
}

/* Hover state */
.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 149px;
  height: 52px;
  padding: 18px 32px;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 1;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-btn {
    visibility: visible;
  }

  /* TODO TRIPLE TEN - set content ::after element to "" */

  /* TODO TRIPLE TEN - finish mobile avatar button styles */

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    opacity: 0.7;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin-left: 0;
    max-width: 288px;
    width: 100%;
  }

  .profile__edit-btn {
    margin-right: 0;
  }
}
